@using SpendingCoach.Models
@model WizardViewModel


<h2>Your Pets</h2>

<div class="subSection petsFirst">
    <p>Do you have any pets?</p>
    <div class="btn-group">
        <button class="btn btn-primary btn-lg goToFirstPrev">Go Back</button>
        <button class="btn btn-primary btn-lg goToFirstNext">No</button>
        <a href="Javascript:void(0)" class="btn btn-primary btn-lg subSectionNext">Yes</a>
    </div>
    
</div>

<div class="subSection petsSecond" style="display:none">
    <div class="btn-group">
        <a href="Javascript:void(0)" class="btn btn-primary btn-lg subSectionPrev">Go Back</a>
    </div>
</div>


