@using SpendingCoach.Models
@model WizardViewModel

<h2>Your Spouse</h2>

<div class="subSection spouseFirst">
    <p>One of the crucial aspects of creating and following a budget is involving the entire household.</p>

    <p>Do you have a spouse or significant other that you share expenses with?</p>

    <div class="btn-group">
        <button class="btn btn-primary btn-lg goToFirstPrev">Go Back</button>
        <button class="btn btn-primary btn-lg goToFirstNext">No</button>
        <a href="Javascript:void(0)" class="btn btn-primary btn-lg subSectionNext" role="button">Yes</a>
    </div>
</div>

<div class="subSection spouseSecond" style="display:none">
    <p>Here</p>

    <div class="btn-group">
        <a href="Javascript:void(0)" class="btn btn-primary btn-lg subSectionPrev" role="button">Go Back</a>
    </div>
</div>

