@using SpendingCoach.Models
@model WizardViewModel

<h2>The Why</h2>
<p>
    Whenever you begin anything, the first question you should always ask yourself is, <i>"Why?"</i> There are countless reasons to create a budget,
    most of them good.  However, some reasons can be counterproductive. To borrow an example from the sports world, if a child is playing baseball "because
    her parents told her to", you can see where there could be a problem. Invariably, the child will not consider that she is spending time with friends,
    that she is getting exercise, that she gets to spend time outside, all good reasons for playing baseball.  The child will only think how she is being
    forced to play. What do you think are the odds this child will have a successful baseball season?
</p>
<p>
    Most people attempt to budget for reasons that are negative in nature, like the child whose parents are making her play baseball. If you are budgeting,
    "because I spend too much" or "because I can't pay the rent" or "because I have to", you're as likely to stick with your budget as the
    child is to stick with baseball.  Instead, think of the positive results of budgeting: "I want to feel in control of my finances", "I want to feel
    the freedom of living without debt", or even "I want to retire when I'm 50".
</p>
<p>
    Budgeting for the right reasons will give you the foundation you need to make your budget and stick to it through all the ups and downs that life
    throws your way.
</p>
<div class="btn-group">
    <button class="btn btn-primary btn-lg goToFirstPrev">Go Back</button>
    <button class="btn btn-primary btn-lg goToFirstNext">Next</button>
</div>