@using SpendingCoach.Models
@model WizardViewModel

<h2>...You!</h2>

<p>You might have guessed it, but that was a trick question.</p>

<p>
    Although some budget items are in fact more important than others, no budget item is more important than 
    you. More specifically, the knowledge, skills, and abilities that allow you to grow in your career, take on new 
    challenges and make course corrections when necessary.
</p>

<p>
    As you consider your income, it is important that you realize that the source of that income is not your employer, but 
    in fact, you.  If you are not satisfied with your income, you can work to improve it. If you need further education, 
    the cost could be worth it because you are making yourself more valuable to potential employers. In addition, you need 
    to take care of yourself. If you are unable to go to work, your income will suffer.
</p>

<p>
    When you create this budget, remember that you are your most important budget item and also the asset that is responsible
    for everything that you have and will have in the future.
</p>

<div class="btn-group">
    <button class="btn btn-primary btn-lg goToFirstPrev">Go Back</button>
    <button class="btn btn-primary btn-lg goToFirstNext">Got it</button>
</div>


