<a data-toggle="dropdown" data-submenu role="button" aria-haspopup="true" aria-expanded="false">
    Start<span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a href="Javascript:void(0)" class="navLink" data-page="010101">Main Page</a></li>
    <li class="dropdown-submenu">
        <a href="Javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">Your Purpose</a> 
        <ul class="dropdown-menu">
            <li><a href="Javascript:void(0)" class="navLink" data-page="010201">Pop Quiz...</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="010202">The Why</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="010203">Pop Quiz...Revisited</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="010204">Your Purpose</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="Javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">Your Household</a>
        <ul class="dropdown-menu">
            <li><a href="Javascript:void(0)" class="navLink" data-page="010301">You</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="010302">Your Spouse</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="010303">Your Children</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="010304">Your Pets</a></li>
        </ul>
    </li>
</ul>