<a data-toggle="dropdown" data-submenu role="button" aria-haspopup="true" aria-expanded="false">
    Income<span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li class="dropdown-submenu">
        <a href="Javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">The Source</a>
        <ul class="dropdown-menu">
            <li><a href="Javascript:void(0)" class="navLink" data-page="020101">The Most Important Budget Item Is...</a></li>
            <li><a href="Javascript:void(0)" class="navLink" data-page="020102">...You!</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="Javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">Employment</a>
        <ul class="dropdown-menu">
            <li><a href="Javascript:void(0)" class="navLink" data-page="020201">Primary Employment</a></li>
        </ul>
    </li>
</ul>
